/test_data/cs_2017.xlsx
/test_data/general_2017.xlsx
/test_data/cs_2018.xlsx
/src/assets/excel/cs_2017.xlsx
/src/assets/tmp/SUSTech_english_requirement
/src/assets/tmp/中文写作与交流
/src/assets/tmp/公选课
/src/assets/tmp/其他课程要求
/src/assets/tmp/军训体育课程
/src/assets/tmp/思想政治品德课程
/src/assets/tmp/计算机科学与技术 (2017)
/src/assets/tmp/计算机科学与技术 1+3 (2018)
/src/assets/tmp/计算机科学与技术 2+2 (2018)
/src/assets/pdf/上传测试培养方案.pdf
/src/assets/pdf/计算机科学与技术2017级培养方案.pdf
/src/assets/pdf/计算机科学与技术2018级 (1+3) 培养方案.pdf
/src/assets/pdf/计算机科学与技术2018级 (2+2) 培养方案.pdf
