/* CSS Document */
/* cc-views */
.nav-pills .nav-link {
	color: #b04b4b!important;
	opacity: 1.0;
	transition: all 0.3s;
}
.nav-pills .nav-link:hover {
	opacity: 0.8;
}
.nav-pills .nav-link.active {
	color: #fff!important;
	background-color: #b04b4b!important;
}
.nav-pills .nav-link .cc-views-txt {
	display: none;
}
.nav-pills .nav-link.active .cc-views-txt {
	display: inline-block;
}





/* Download PDF Button */
#cc-pdf-download-block {
	width: 100%;
}
#cc-pdf-download-block #cc-pdf-download {
	background-color: #b04b4b!important;
	text-transform: none;
	border-radius: 10px;
	opacity: 1.0;
	transition: all 0.3s;
}
#cc-pdf-download-block #cc-pdf-download:hover {
	opacity: 0.8;
}
#cc-pdf-download-block #cc-pdf-download a {
	color: #fff;
	text-decoration: none;
}





/* List - Nav Tabs */
.nav-tabs .nav-link {
	color: rgba(88,88,88,1.00);
	opacity: 1.0;
	transition: all 0.3s;
}
.nav-tabs .nav-link:hover {
	opacity: 0.8;
}
.nav-tabs .nav-link.active {
	color: #b04b4b;
}
/* List - Courses Datatable */
.table-responsive::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
	transition: all 0.2s;
}
.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	transition: all 0.2s;
}
.table-responsive::-webkit-scrollbar-thumb {
	background-color: gray;
	outline: 1px solid gray;
	border-radius: 20px;
	transition: 0.2s;
}
#courses-datatable thead {
	background-color: #b04b4b;
	color: #fff;
	border-color: #a14b4b;
}
