/* CSS Document */
/* body */
body {
	transition: all 0.5s;
}
body::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
	transition: all 0.2s;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	transition: all 0.2s;
}
body::-webkit-scrollbar-thumb {
	background-color: gray;
	outline: 1px solid gray;
	border-radius: 20px;
	transition: 0.2s;
}





/* HEADER */
header #navCourschemaster {
	background-color: rgba(50, 50, 50, 0.25);
}
header .nav-item {
	margin: 10px 0;
}
/* Navicon */
header .navbar-toggler .icon-bar {
	background-color: rgba(255, 255, 255, 0.85);
	width: 30px;
	height: 4px;
	border-radius: 2px;
	margin: 5px;
	display: inherit;
	transition: 0.3s;
}
header .navbar-toggler-icon {
	display: block;
}
header .change_navicon .bar1 {
	-ms-transform: rotate(45deg) translate(3px, 10px);
	-moz-transform: rotate(45deg) translate(3px, 10px);
	-webkit-transform: rotate(45deg) translate(3px, 10px);
	-o-transform: rotate(45deg) translate(3px, 10px);
	transform: rotate(45deg) translate(3px, 10px);
}
header .change_navicon .bar2 {
	opacity: 0;
}
header .change_navicon .bar3 {
	-ms-transform: rotate(-45deg) translate(3px, -10px);
	-moz-transform: rotate(-45deg) translate(3px, -10px);
	-webkit-transform: rotate(-45deg) translate(3px, -10px);
	-o-transform: rotate(-45deg) translate(3px, -10px);
	transform: rotate(-45deg) translate(3px, -10px);
}

header .language {
	border: 1px solid white;
	font-size: 13px;
	font-family: monospace;
	padding: 6px;
	min-width: 76px;
	text-align: center;
	transition: all 0.3s;
}
header .language.active {
	background-color: white;
	color: rgba(50, 50, 50, 1.0)!important;
	font-weight: bold;
}
header .language:hover, header .language:focus {
	text-decoration: underline;
}
header .language#lang_en {
	border-radius: 10px 0 0 10px;
}
header .language#lang_chzn {
	border-radius: 0 10px 10px 0;
}





/* SIDEBAR */
#main-block {
	position: relative;
}
.sidenav {
	height: 100%;		/* Full height */
	width: 0;			/* no width initially */
	position: absolute;	/* stay in place */
	z-index: 100;		/* Stay on top */
	top: 0;
	left: 0;
	background-color: rgba(66, 165, 245,0.95);
	overflow-x: hidden;	/* Disable horizontal scroll */
	overflow-y: auto;
	transition: all 0.5s;
}
.sidenav::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
	transition: all 0.2s;
}
.sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	transition: all 0.2s;
}
.sidenav::-webkit-scrollbar-thumb {
	background-color: rgba(241,241,241,0.8);
	outline: 1px solid rgba(241,241,241,0.8);
	border-radius: 20px;
	transition: 0.2s;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;	/* smaller in responsive */
	color: #f1f1f1;
	display: block;
	transition: all 0.3s;
}
.sidenav .sidenav-items {
	margin-top: 60px;
	margin-bottom: 50px;
}
.sidenav .sidenav-items a.active, .sidenav .sidenav-items a:hover, .sidenav .sidenav-items a:focus {
	color: rgba(66, 165, 245,0.9);
	background-color: #f1f1f1;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	font-weight: 600;
	transition: all 0.2s;
}
.sidenav .closebtn:hover, .sidenav .closebtn:focus {
	opacity: 0.6;
}
#openNav {
	position: fixed;
	left: 0;
	top: 50%;
	opacity: 0.6;
	padding: 15px;
	margin: 0;
	z-index: 10;
	border-radius: 0 10px 10px 0;
	transition: all 0.3s;
}
#openNav:hover, #openNav:focus {
	opacity: 1;
}
.sidenav hr {
	background-color: white;
	margin: 10px;
}
/* responsive */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}





/* FOOTER */
footer {
	background-color: rgba(50, 50, 50, 0.25);
	font-size: 0.7rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	transition: all 0.3s;
}
footer ul {
	margin-top: 0;
	margin-bottom: 0;
	user-select: none;
	transition: all 0.3s;
}
footer ul#power_copyright {
	text-align: left;
}
footer ul#support_info {
	list-style: none;
	text-align: right;
}
footer ul#support_info #footer_QA {
	text-decoration: underline;
}
footer #admin_phone_number {
	user-select: text;
}

/* Responsive */
@media screen and (max-width: 991px) {
	footer ul#power_copyright {
		list-style: none;
		text-align: center;
	}
	footer ul#support_info {
		text-align: center;
	}
}