/* CSS Document */
.file-txt {
	white-space: nowrap;
	width: 80%;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.file-list-item {
	display: none;
}
.badge {
	user-select: none;
}
.file-txt--addi {
	font-size: 60%;
}