/* CSS Document */
.file-txt {
	white-space: nowrap;
	width: 80%;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.file-list-item {
	display: none;
}
.badge {
	user-select: none;
}
.file-txt--addi {
	font-size: 60%;
}




/* Editor */
#editor {
	width: 100%;
	min-height: 500px;
}
.ace_scrollbar-v::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
	transition: all 0.2s;
}
.ace_scrollbar-v::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	transition: all 0.2s;
}
.ace_scrollbar-v::-webkit-scrollbar-thumb {
	background-color: gray;
	outline: 1px solid gray;
	border-radius: 20px;
	transition: 0.2s;
}
.list-graph-window {
	height: 506px;
}
.list-graph-window .card-header {
	background-color: #b04b4b;
	color: #fff;
	font-weight: 500;
}
.editor-btn {
	text-transform: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	letter-spacing: 2px;
}
.editor-btn:hover {
	color: #fff;
}
#editor-compile {
	background-color: #54ae54;
}
#editor-submit {
	background-color: #d44b47;
}

.file-list-item .pending-badge {
	cursor: pointer;
}

#upload-major {
	font-size: 0.9rem;
	padding: 2px 5px;
	border-radius: 3px;
}