/* CSS Document */

/* left half */
#add_plan i {
	color: #b04b4b;
	transition: all 0.3s;
}
#add_plan:hover i {
	transform: rotate(90deg);
}
.plan-window {
	min-height: 600px;
}

/* right half */
.graph-window {
	height: 600px;
}
.graph-window .card-header {
	background-color: #b04b4b;
	color: #fff;
	font-weight: 500;
}


.delete-course-btn {
	border-radius: 10px;
	padding: 5px 16px!important;
	margin: 0;
}