/* CSS Document */
/* No sidebar, so remove margin-left of .main-content */
.main-content {
	margin-left: 12px;
}



/* General Card Styles */
.card {
	margin: 10px 0;
}





/* Tags */
.filter-box {
	width: 90%;
	margin: 10px auto;
}
.tags#tagChoices {
	padding: 0 20px 20px 20px;
}
.tags .badge {
	cursor: pointer;
	user-select: none;
	opacity: 0.66;
	margin: 3px;
	transition: all 0.3s;
}
.tags .badge:hover, .tags .badge:focus {
	opacity: 1.0;
}






/* Modal */
.modal .modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
	transition: all 0.2s;
}
.modal .modal-dialog-scrollable .modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	transition: all 0.2s;
}
.modal .modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb {
	background-color: gray;
	outline: 1px solid gray;
	border-radius: 20px;
	transition: 0.2s;
}





/* Pagination.js */
#faq_pagination, #lq_pagination, #mq_pagination,
#sq_pagination,
#qa_pagination {
	margin: 20px 0 0 0;
}
.paginationjs .paginationjs-pages {
	float: right;
}




/* Questions */
.question-brief:hover {
	border-left: 10px solid #b04b4b;
}
.question-brief {
	padding: 20px;
}
.question-brief h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#sq_contents {
	margin-top: 30px;
}
.authenticated {
	user-select: none;
}





/* Specific Question */
.question-title {
/*	color: #b04b4b;*/
	color: rgba(50,50,50,1.00);
}
.question-answers .list-group .list-group-item {
	background-color: transparent;
}
.vote-btns {
	position: relative;
	float: right;
}
.vote-btns button {
	padding: 6px 12px!important;
}
.vote-btns .btn-outline-primary.vote-positive:hover, .vote-btns .btn-outline-primary.vote-negative:hover {
	background-color: #4285f4!important;
	color: #fff!important;
}
.vote-btns .vote-positive {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.vote-btns .vote-negative {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}




/* top bar */
.top-bar {
	margin: 10px 10px 10px 0;
}
.top-bar a {
	font-weight: 500;
	color: rgba(90,90,90,1.00);
	text-transform: uppercase;
	transition: all 0.3s;
}
.top-bar a:hover, .top-bar a:focus {
	background-color: #b04b4b;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}
